
// Screen Readers only to hide elements and text when necessary.
.sr-only {
  @include sr-only; // sass-lint:disable-line mixin-name-format
}

.sr-only-focusable {
  &:focus {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: auto;
    height: auto;
    margin: 0;
    color: $color-white;
    background-color: $color-black;
    clip: inherit;
  }
}

.noscroll {
  height: 100vh;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

// ckeditor.
.cke_editable {
  padding: 15px;
}

.messages {
  font-family: $font-secondary;
  text-align: center;

  &__inner {
    @include container(true, true);
  }
}

.node--unpublished {
  background-color: $color--unpublished !important;
}

// Negate bootstrap megative margins
.row {
  margin: 0 !important;

  &.row, [class^="row"].row {
    padding-bottom: 0;
  }
}

// End bootstrap wonky overrides