{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}

<div{{ attributes.setAttribute('id', 'video-youtube--' ~ youtube_id ).addClass('video-embed--youtube').setAttribute('data-id', youtube_id) }}></div>
