.adminimal-admin-toolbar .toolbar-icon-ik-dashboard-main:before {
  background-image: url('../../images/dashboard.svg');
  background-size: 24px;  
}

.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-ik-dashboard-main:before, .adminimal-admin-toolbar .toolbar-icon-ik-dashboard-main:hover:before, .adminimal-admin-toolbar .toolbar-icon-ik-dashboard-main:active:before, .adminimal-admin-toolbar .toolbar-icon-ik-dashboard-main.is-active:before {
  background-image: url('../../images/dashboard-active.svg');
  background-size: 24px;
}

.entity-browser-media-browser-form .form--inline {
  display: block !important;
}

/* Layout Three Column Changes */
.layout--threecol-25-50-25 .layout__region div .block {
  padding: 0 20px;
}
